html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr {
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/**
  * Apply generic border-box to all elements.
  * See:
  * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */

html {

    /* Apply border-box across the entire page. */
    box-sizing: border-box;

}

/* -----------------------Heading--------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 10px 0;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

/* Variables */
:root{
    --main-font : 'Roboto' , 'Montserrat', 'Helvetica Neu', sans-serif; 
    --text-color : #242321;
    --blue-color : #1982C4;
    --red-color : #FF595E;
    --yellow-color : #FFCA3A; 
}

body{
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--text-color);
}

