#header {
	height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.header__title,
.header__description {
    padding: 16px 0;
    text-align: center;
}

.header__title{
    margin-top: 32px;
}

.header__description {
	flex: 2;
	display: flex;
	align-items: center;
    padding: 32px;
    margin: 16px 0 50px 0 ;
}