#header {
	height: 100vh;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
}

.header__title {
	padding: 16px 0;
	margin-top: 64px;
	text-align: center;
}

.header__description {
	margin-top: 128px;
	padding: 32px;
	text-align: center;
}
