.main {
    padding: 0 16px;
}

.card {
    text-align: center;
    margin-bottom: 100px ;
}

.card__title,
.card__content {
    padding: 32px 0;
}

.card__title {
    text-align: center;
    font-weight: 600;
}

.card__title--red {
    color: var(--red-color);
}

.card__title--green {
    color: var(--green-color);
}

.card__title--yellow {
    color: var(--yellow-color);
}

.card__title--blue {
    color: var(--blue-color);
}

.card__content {
    display: flex;
    justify-content: center;
}

.card__content-image .logo {
    display: block;
    text-indent: -9999px;
    width: 200px;
    height: 200px;
    background: url(../images/teamwork.svg);
    background-size: 200px 200px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .page{
        height: 100vh;
    }

    .card{
        margin: 0;
    }

    .header__title{
        margin-top: 0;
        padding: 0;
        text-align: left;
    }

    .header__description{
        display: none;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(400px, 1fr);
        grid-auto-rows: auto;
    } 
}