// ==========================================================================
// Base / Fonts
// ==========================================================================
@font-face {
    font-family: 'Neue Montreal';
    src: local("Neue Montreal"), 
        url('~@/assets/fonts/NeueMontreal-Medium.woff') format('woff'),
        url('~@/assets/fonts/NeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: local("FuturaPT"), 
        url('~@/assets/fonts/FuturaPT-Medium.woff') format('woff'),
        url('~@/assets/fonts/FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-light';
    src: local("FuturaPT"), 
        url('~@/assets/fonts/FuturaPT-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

$font-neue-montreal: 'Neue Montreal';
$font-futura-pt: "FuturaPT", Helvetica, Arial, sans-serif;
$font-futura-pt-light: "FuturaPT-light", Helvetica, Arial, sans-serif;
