@import 'fonts.scss';

// Fonts
$primary-font: $font-futura-pt;
$primary-font-light: $font-futura-pt-light;
$secondary-font: $font-neue-montreal;

// Colors
$primary-color: #2f4550;
$secondary-color: #080808;