<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>AO</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            emailjs.init("user_9QPd6cAymGUHuxXUoaA86");
        })();
    </script>
</head>

<body>

    <div class="page">

        <main id="app" class="main">

            <div class="main-header">
                <h4> Arnaud <span>Outtier</span></h4>
            </div>

            <div class="main-content">
                <p>Bonjour! Mon site est en cours de construction. Je suis un développeur web en perfectionnement, je suis actuellement à la recherche d'un job dev front pour vivre une bonne expérience, progresser et m'amuser aussi un peu. Si vous êtes intéressé,
                    laissez moi votre adresse mail. Je vous recontacterai !</p>
            </div>

            <div class="main-footer">
                <form class="form" @submit="checkForm" novalidate="true">
                    <label>Email</label>
                    <input type="email" v-model="email" name="email" placeholder="Adresse Emaill" :class="[valid ? validInput : errorInput]">
                    <img v-show="!valid" class="email-error-icon" src="images/icon-error.svg" alt="email error icon ">
                    <button type="submit" class="form-submit" name="submit-button" v-model="valid"></button>
                    <ul>
                        <li v-for="error in errors">{{ error }} </li>
                    </ul>
                </form>
            </div>
        </main>
        <!-- .main -->

    </div>
    <!-- .page -->


    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="app.js"></script>

</body>

</html>