@import "../theme/color";

.social{

	color: $white-color;
	text-align: center;
	box-sizing: inherit;
	margin: 20px 0 20px 0;
	font-size: 24px;
	cursor: pointer;
	display: inline-block;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

	.social:hover{color: $green-color;}
	
}