---
---

<article>
  <h2>
    <a href="/articles/crafting-a-design-system-for-a-multiplanetary-future">
      <span>Crafting a design system for a multiplanetary future</span>
    </a>
  </h2>
  <time datetime="2022-09-05">
    <span aria-hidden="true"></span>September 5, 2022
  </time>
  <p>
    Most companies try to stay ahead of the curve when it comes to visual
    design, but for Planetaria we needed to create a brand that would still
    inspire us 100 years from now when humanity has spread across our entire
    solar system.
  </p>
  <a aria-hidden="true">Read article</a>
</article>
<article>
  <h2>
    <a href="/articles/crafting-a-design-system-for-a-multiplanetary-future">
      <span>Crafting a design system for a multiplanetary future</span>
    </a>
  </h2>
  <time datetime="2022-09-05">
    <span aria-hidden="true"></span>September 5, 2022
  </time>
  <p>
    Most companies try to stay ahead of the curve when it comes to visual
    design, but for Planetaria we needed to create a brand that would still
    inspire us 100 years from now when humanity has spread across our entire
    solar system.
  </p>
  <a aria-hidden="true">Read article</a>
</article>
<article>
  <h2>
    <a href="/articles/crafting-a-design-system-for-a-multiplanetary-future">
      <span>Crafting a design system for a multiplanetary future</span>
    </a>
  </h2>
  <time datetime="2022-09-05">
    <span aria-hidden="true"></span>September 5, 2022
  </time>
  <p>
    Most companies try to stay ahead of the curve when it comes to visual
    design, but for Planetaria we needed to create a brand that would still
    inspire us 100 years from now when humanity has spread across our entire
    solar system.
  </p>
  <a aria-hidden="true">Read article</a>
</article>

<style></style>
