---
---

<section class="experience">
  <h2>
    <span>Work</span>
  </h2>
  <ul>
    <li>
      <div class="group">
        <img
          width="40"
          height="40"
          decoding="async"
          src="../../public/images/pistacheWeb.jpg"
          alt=""
        />
      </div>
      <div class="group">
        <h3>Planetaria</h3>
        <div class="details">
          <h4>CEO</h4>
          <div class="time-details">
            <time datetime="2019">2019</time>
            <span aria-hidden="true">—</span>
            <time datetime="2023">Present</time>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <a href="/#">Download CV</a>
</section>

<style lang="scss">
  ul {
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    > :nth-child(2) {
      flex-grow: 1;

      .details {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  h3 {
    margin-block: 0 1rem;
  }

  h4 {
    margin: 0;
  }

  img {
    border-radius: 100%;
  }
</style>
