---
---

<footer id="footer">
  <p>
    © <!-- -->2023<!-- --> Arnaud Outtier Personal Website.
  </p>
</footer>

<style>
  #footer {
    width: min(1200px, 90vw);
    margin-inline: auto;
    margin-block: clamp(5rem, 3.6364rem + 5.8182vw, 8rem) 0;
    text-align: center;
    font-size: 0.8125rem;
  }
</style>
