---
---

<footer id="footer">
  <p>
    © <!-- -->2023<!-- --> Spencer Sharp. All rights reserved.
  </p>
</footer>

<style>
  #footer {
    width: min(1200px, 90vw);
    margin-inline: auto;
    padding-block: 8rem 0;
    text-align: center;
  }
</style>
