---
import heroData from "../content/gallery/hero-gallery.json";
---

<section id="gallery">
  <ul>
    {
      heroData.map((heroImgUrl) => (
        <li>
          <img src={heroImgUrl.heroImageUrl} alt="hero gallery image" />
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  #gallery {
    max-width: min(90vw, 1200px);
    margin-inline: auto;

    ul {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: clamp(10.625rem, 13.333vw + 7.5rem, 17.5rem);
      justify-content: center;
      gap: 2rem;

      padding: 0;
      list-style: none;
    }
  }
</style>
