---
---

<section id="hero">
  <div class="hero-inner">
    <div class="hero-image"></div>
    <h1 class="hero-title">
      Intégrateur Web, développeur front-end, support informatique.
    </h1>
    <p class="hero-description">
      I’m Arnaud Outtier, a software designer and entrepreneur based in New York
      City. I’m the founder and CEO of Planetaria, where we develop technologies
      that empower regular people to explore space on their own terms.
    </p>
    <div class="social-menu">
      <a aria-label="Follow on Instagram" href="https://instagram.com">
        <img
          width="20"
          height="20"
          src="/icons/icon-frontendmentor.svg"
          alt="icon frontendmentor"
        />
      </a>
      <a aria-label="Follow on GitHub" href="https://github.com">
        <img
          width="20"
          height="20"
          src="/icons/icon-github.svg"
          alt="icon github"
        />
      </a>
      <a aria-label="Follow on LinkedIn" href="https://linkedin.com">
        <img
          width="20"
          height="20"
          src="/icons/icon-linkedin.svg"
          alt="icon linkedin"
        />
      </a>
    </div>
  </div>

  <style lang="scss">
    #hero {
      width: min(1200px, 90vw);
      margin-inline: auto;
      padding-block: 5rem 5rem;
    }

    .hero-inner {
      max-width: 42rem;
    }

    .hero-image {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-image: url("/images/pistacheWeb.jpg");
      background-size: cover;
      background-position: center center;
    }

    h1 {
      font-size: clamp(2rem, 1.939vw + 1.545rem, 3rem);
      color: var(--clr_primary);
    }

    .hero-description {
      color: rgb(82, 82, 91);
      font-size: 1rem;
      line-height: 1.75rem;
    }

    .social-menu {
      display: flex;
      column-gap: 1.5rem;
      margin-block: 2rem 0;
    }
  </style>
</section>
