---
---

<form id="newsletter" action="/thank-you">
  <h2>
    <span class="ml-3">Stay up to date</span>
  </h2>
  <p>Get notified when I publish something new, and unsubscribe at any time.</p>
  <div>
    <input
      type="email"
      placeholder="Email address"
      aria-label="Email address"
      required=""
    />
    <button type="submit">Join</button>
  </div>
</form>

<style lang="scss">
  #newsletter {
    padding-block: 1.5rem;
    border-block: 1px solid rgb(229, 231, 235);

    h2 {
      color: rgb(24, 24, 27);
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }
</style>
