---
---

<form id="newsletter" action="/thank-you">
  <h2>
    <span class="ml-3">Stay up to date</span>
  </h2>
  <p>Get notified when I publish something new, and unsubscribe at any time.</p>
  <div>
    <input
      type="email"
      placeholder="Email address"
      aria-label="Email address"
      required=""
    />
    <button type="submit">Join</button>
  </div>
</form>

<style></style>
