@import "../theme/color";

.form_map{
	font-family: 'Raleway', sans-serif;
	min-height: 100vh;
	position: relative;
	background-color: $green-color;
	background-image: url("../image/map4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}