.competences_s{
	font-family: 'Raleway', sans-serif;
	position: relative;
	background-color: $white-color;
	
}

.competence_item_bl{text-align: left;}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

	.competence_item_bl{
		margin-top: 50px;
	}
}





