header{
	height: 85vh;
	position: relative;
	background-color: $grey-color;
	background-image: url("../image/fond_header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	.languages-link{
		display: block;
		position: absolute;
		top: 5%;
		left: 5%;
		color: $white-color;
	}
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

	header{
		height: 100vh;
	}
}