.techno_sec {
	position: relative;
	background-color: #fff;
	margin-bottom: 100px;
}


// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: space-between;
	// transform: translateY(20px);
	// transition: all 1s ease-in-out;
	// transition-delay: .2s;
	
